<aside id="sidenav">
  <div id="logo" [routerLink]="['/']">
    <img src="../../assets/logo.png" id="logo-img" />
    CLEAN UI
  </div>
  <nav class="links desktop">
    <ul>
      <li class="link-with-icon arrow-right settings-icon">
        <a [routerLink]="['/']">Theme Settings</a>
      </li>
      <li class="link-with-icon documentation">
        <a [routerLink]="['/']">Documentation</a>
      </li>
    </ul>
    <hr />
    <ul>
      <li class="link-with-icon home"><a [routerLink]="['/']">Dashboard</a></li>
    </ul>
    <hr />
    <ul>
      <li class="link-with-icon profile">
        <a [routerLink]="['/']">Profile</a>
      </li>
      <li class="link-with-icon messaging">
        <a [routerLink]="['dashboard/messaging']">Messaging</a>
      </li>
      <li class="link-with-icon mail"><a [routerLink]="['/']">Mail</a></li>
      <li class="link-with-icon calendar">
        <a [routerLink]="['/']">Calendar</a>
      </li>
      <li class="link-with-icon gallery">
        <a [routerLink]="['/']">Gallery</a>
      </li>
    </ul>
    <hr />
    <ul>
      <li class="link-with-icon arrow-right layout">
        <a [routerLink]="['/']">Layout</a>
      </li>
      <li class="link-with-icon arrow-right icons">
        <a [routerLink]="['/']">Icons</a>
      </li>
      <li class="link-with-icon typography">
        <a [routerLink]="['/']">Typography</a>
      </li>
    </ul>
    <hr />
    <ul>
      <li class="link arrow-right forms"><a [routerLink]="['/']">Forms</a></li>
      <li class="link arrow-right components">
        <a [routerLink]="['/']">Components</a>
      </li>
      <li class="link arrow-right tables">
        <a [routerLink]="['dashboard/table']">Tables</a>
      </li>
      <li class="link arrow-right charts">
        <a [routerLink]="['/']">Charts</a>
      </li>
    </ul>
    <hr />
    <ul>
      <li class="link-with-icon arrow-right pages">
        <a [routerLink]="['/']">Pages</a>
      </li>
    </ul>
    <hr />
    <ul>
      <li class="disabled-item"><a>Disabled Item</a></li>
      <li class="link arrow-right infinity-nested">
        <a [routerLink]="['/']">Infinity Nested</a>
      </li>
    </ul>
    <hr />
    <div id="solar-system">
      <p>Solar System</p>
      <ul>
        <li class="planet earth"><a [routerLink]="['/']">Earth</a></li>
        <li class="planet mars"><a [routerLink]="['/']">Mars</a></li>
        <li class="planet mercury"><a [routerLink]="['/']">Mercury</a></li>
        <li class="planet jupiter"><a [routerLink]="['/']">Jupiter</a></li>
      </ul>
    </div>
  </nav>
  <nav class="links tablet">
    <ul>
      <li class="link-with-icon settings-icon"></li>
      <li class="link-with-icon documentation"></li>
      <li class="link-with-icon home"></li>
      <li class="link-with-icon profile"></li>
      <li class="link-with-icon messaging"></li>
      <li class="link-with-icon mail"></li>
      <li class="link-with-icon calendar"></li>
      <li class="link-with-icon gallery"></li>
      <li class="link-with-icon layout"></li>
      <li class="link-with-icon icons"></li>
      <li class="link-with-icon typography"></li>
      <li class="link-with-icon pages"></li>
    </ul>
  </nav>
  <nav class="mobile" onclick="toggleMobileMenu()">
    <div id="mobile-menu-container">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </nav>
</aside>
