$break-tablet: 870px;
$break-mobile: 550px;

#sidenav {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  position: sticky;
  z-index: 2;

  @media screen and (max-width: $break-tablet) {
    flex-direction: row;
    width: 100%;
    top: 0;
  }

  #logo {
    display: flex;
    align-items: center;
    background-color: #2c2a2a;
    height: 80px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;

    @media screen and (max-width: $break-tablet) {
      flex: 1 0 20%;
      letter-spacing: 1px;
    }

    @media screen and (max-width: $break-mobile) {
      letter-spacing: 0;
      font-weight: normal;
    }

    #logo-img {
      width: 50px;
      margin-left: 10px;
      margin-right: -22px;
    }
  }

  .links {
    background-color: #423f3f;
    color: #ffffff;
    height: calc(100% - 80px);
  }

  .desktop {
    @media screen and (max-width: $break-tablet) {
      display: none;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }
  }

  .tablet {
    display: none;

    @media screen and (max-width: $break-tablet) {
      display: block;
      flex: 1 0 80%;
      height: 80px;
    }

    @media screen and (max-width: $break-mobile) {
      display: none;
    }

    ul {
      display: flex;
      align-items: center;
      height: 100%;
      margin: 0;
      padding: 0;
      justify-content: space-evenly;
    }
  }

  .mobile {
    display: none;

    @media screen and (max-width: $break-mobile) {
      display: flex;
      background-color: #423f3f;
      flex: 1 0 50%;
      align-items: center;
      justify-content: flex-end;
    }

    #mobile-menu-container {
      display: inline-block;
      cursor: pointer;
      margin-right: 20px;
    }

    .bar1,
    .bar2,
    .bar3 {
      width: 35px;
      height: 5px;
      background-color: #fff;
      margin: 6px 0;
      transition: 0.4s;
    }

    .change .bar1 {
      transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {
      opacity: 0;
    }

    .change .bar3 {
      transform: rotate(45deg) translate(-8px, -8px);
    }
  }

  .link,
  .link-with-icon {
    display: flex;
    align-items: center;
    margin-left: 10px;

    @media screen and (max-width: $break-tablet) {
      margin: 0;
    }
  }

  .link:hover,
  .planet:hover,
  .link-with-icon:hover:not(.disabled-item) {
    background-color: #343232;
    border-radius: 5px;
    cursor: pointer;
  }

  .link,
  .planet {
    height: 36px;
    padding-left: 8px;
  }

  .link-with-icon::before {
    content: "";
    width: 36px;
    height: 36px;
    background-image: url(/assets/icon-spritesheet.png);
    background-repeat: no-repeat;
  }

  .link a,
  .link-with-icon a,
  .planet a {
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    padding: 8px 2px;
  }

  .documentation::before {
    background-position: -270px -204px;
  }

  .home::before {
    background-position: -236px -204px;
  }

  .profile::before {
    background-position: -66px 0;
  }

  .messaging::before {
    background-position: -304px -272px;
  }

  .calendar::before {
    background-position: -170px -374px;
  }

  .gallery::before {
    background-position: -306px -36px;
  }

  .layout::before {
    background-position: -68px -172px;
  }

  .icons::before {
    background-position: -238px -34px;
  }

  .typography::before {
    background-position: -338px -340px;
  }

  .pages::before {
    background-position: -272px -240px;
  }

  .disabled-item {
    color: #d3d3d3;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    margin-left: 18px;
    height: 36px;
  }

  #solar-system {
    margin-left: 16px;

    .planet {
      display: flex;
      align-items: center;
      height: 36px;
    }

    .planet::before {
      content: "";
      height: 10px;
      border-radius: 50%;
      width: 10px;
      margin-right: 5px;
    }

    .earth::before {
      border: 3px solid #61d474;
    }

    .mars::before {
      border: 3px solid #d03535;
    }

    .mercury::before {
      border: 3px solid #d3d3d3;
    }

    .jupiter::before {
      border: 3px solid #6ccfff;
    }
  }
}
