<div id="dashboard">
  <div id="columns">
    <section class="column" *ngFor="let column of columns; index as i">
      <ng-container *ngFor="let widget of widgets">
        <ng-container *ngIf="widget.column === columns[i]">
          <app-table-widget
            *ngIf="widget.type === WidgetType.Table"
            [widgetData]="widget"
            class="widget table"
          ></app-table-widget>
          <app-messaging-widget
            *ngIf="widget.type === WidgetType.Messaging"
            [widgetData]="widget"
            class="widget chat"
          ></app-messaging-widget>
        </ng-container>
      </ng-container>
    </section>
  </div>
  <section class="row">
    <article class="widget">
      <div class="statistics" id="users">
        <div>
          <h3>Users</h3>
          <p>Total: 24 467</p>
        </div>
      </div>
    </article>
    <article class="widget">
      <div class="statistics" id="databases">
        <div>
          <h3>Databases</h3>
          <p>Total: 765</p>
        </div>
      </div>
    </article>
    <article class="widget">
      <div class="statistics" id="bandwidth">
        <div>
          <h3>Bandwidth</h3>
          <p>160.32 GB/S</p>
        </div>
      </div>
    </article>
    <article class="widget">
      <div class="statistics" id="sales">
        <div>
          <h3>Daily Sales</h3>
          <p>Total: 765</p>
        </div>
      </div>
    </article>
  </section>
  <button id="add-new-widget" title="Add new widget" (click)="openWidgetForm()">
    <img src="../../assets/plus.svg" id="plus-icon" />
  </button>
</div>
