<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>

<div id="dashboard">
  <div id="columns">
    <section id="column1">
      <ng-container
        *ngIf="column1Widgets && column1Widgets.length > 0; else loading"
      >
        <ng-container *ngFor="let widget of column1Widgets">
          <app-table-widget
            *ngIf="widget.type === WidgetType.Table"
            [widgetData]="widget"
            class="widget table"
          ></app-table-widget>
          <app-messaging-widget
            *ngIf="widget.type === WidgetType.Messaging"
            [widgetData]="widget"
            class="widget chat"
          ></app-messaging-widget>
        </ng-container>
      </ng-container>
    </section>
    <section id="column2">
      <ng-container
        *ngIf="column2Widgets && column2Widgets.length > 0; else loading"
      >
        <ng-container *ngFor="let widget of column2Widgets">
          <app-table-widget
            *ngIf="widget.type === WidgetType.Table"
            [widgetData]="widget"
            class="widget table"
          ></app-table-widget>
          <app-messaging-widget
            *ngIf="widget.type === WidgetType.Messaging"
            [widgetData]="widget"
            class="widget chat"
          ></app-messaging-widget>
        </ng-container>
      </ng-container>
    </section>
    <section id="column3">
      <div id="column3-widgets">
        <ng-container
          *ngIf="column3Widgets && column3Widgets.length > 0; else loading"
        >
          <ng-container *ngFor="let widget of column3Widgets">
            <app-table-widget
              *ngIf="widget.type === WidgetType.Table"
              [widgetData]="widget"
              class="widget table"
            ></app-table-widget>
            <app-messaging-widget
              *ngIf="widget.type === WidgetType.Messaging"
              [widgetData]="widget"
              class="widget chat"
            ></app-messaging-widget>
          </ng-container>
        </ng-container>
      </div>
      <section id="column3-innerSection" *ngIf="type === null">
        <article class="widget" id="column3-innerSection-article-topLeft">
          <ol>
            <li>Upgrade</li>
            <li>Finish</li>
          </ol>
        </article>
        <article class="widget" id="column3-innerSection-article-topRight">
          <h2 id="sales-header" title="Sales Growth">Sales Growth</h2>
          <p id="view-sales-btn">View Report</p>
        </article>
        <article class="widget" id="column3-innerSection-article-bottomLeft">
          <h2>Clean</h2>
          <p>Simple</p>
          <p>Responsive</p>
        </article>
        <article class="widget" id="column3-innerSection-article-bottomRight">
          <div>
            <p>Total: 24 467</p>
            <p>New: 456</p>
          </div>
        </article>
      </section>
    </section>
  </div>
  <section class="row">
    <article class="widget">
      <div class="statistics" id="users">
        <div>
          <h3>Users</h3>
          <p>Total: 24 467</p>
        </div>
      </div>
    </article>
    <article class="widget">
      <div class="statistics" id="databases">
        <div>
          <h3>Databases</h3>
          <p>Total: 765</p>
        </div>
      </div>
    </article>
    <article class="widget">
      <div class="statistics" id="bandwidth">
        <div>
          <h3>Bandwidth</h3>
          <p>160.32 GB/S</p>
        </div>
      </div>
    </article>
    <article class="widget">
      <div class="statistics" id="sales">
        <div>
          <h3>Daily Sales</h3>
          <p>Total: 765</p>
        </div>
      </div>
    </article>
  </section>
  <button id="add-new-widget" title="Add new widget" (click)="openWidgetForm()">
    <img src="../../assets/plus.svg" id="plus-icon" />
  </button>
</div>
