.table {
  max-height: 500px;

  .settings {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    border-bottom: 1px solid #d8d7db;
    cursor: pointer;
  }

  .settings-icon {
    display: flex;
    align-items: center;
  }

  .settings-icon::before {
    content: "";
    width: 36px;
    height: 36px;
    background-image: url(/assets/icon-spritesheet.png);
    background-repeat: no-repeat;
    background-position: -338px -134px;
  }

  .arrow-bottom::after {
    content: "";
    border: solid #bbbbbb;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    margin-left: 7px;
    cursor: pointer;
  }

  .table-data {
    width: 100%;
    height: 100%;
    border-collapse: collapse;

    .table-header {
      height: 50px;
      cursor: pointer;
    }

    .dark {
      background-color: #423f3f;
      color: #ffffff;
      border: none;
    }

    td {
      padding: 5px;
    }

    tr {
      border-top: 1px solid #d8d7db;
      border-bottom: 1px solid #d8d7db;
    }

    tr:hover:not(.table-header) {
      background-color: rgba(216, 215, 219, 0.2);
    }
  }

  .table-with-settings {
    height: calc(100% - 50px);
  }
}

.widget {
  border-radius: 5px;
  background-color: #ffffff;
  margin: 7px 10px;
  text-align: center;
  box-shadow: 0px 0px 13px 1px rgb(153, 153, 153);
}

.widget:hover {
  box-shadow: 0px 0px 5px 4px #e8e8e8;
  transition: box-shadow ease-in-out 0.2s;
}
