.settings {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  border-bottom: 1px solid #d8d7db;
  cursor: pointer;
}

.settings-icon {
  display: flex;
  align-items: center;
}

.settings-icon::before {
  content: "";
  width: 36px;
  height: 36px;
  background-image: url(/assets/icon-spritesheet.png);
  background-repeat: no-repeat;
  background-position: -338px -134px;
}

.arrow-bottom::after {
  content: "";
  border: solid #bbbbbb;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  margin-left: 7px;
  cursor: pointer;
}

.dark {
  background-color: #423f3f;
  color: #ffffff;
  border: none;
}

.messages {
  overflow-y: auto;
  width: 90%;
  margin: 0 auto;
  max-height: 400px;

  .message {
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: flex-start;

    .person-img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .person.left {
      margin: 0 30px 0 0;
    }

    .person.right {
      margin: 0 0 0 30px;
    }

    .message-bubble {
      position: relative;
      height: auto;
      background-color: #d3d3d3;
      border-radius: 5px;
      padding: 5px;
    }

    .triangle.left:after {
      content: " ";
      position: absolute;
      width: 0;
      height: 0;
      left: -20px;
      right: auto;
      top: 10px;
      bottom: auto;
      border: 12px solid;
      border-color: #d3d3d3 #d3d3d3 transparent transparent;
    }

    .triangle.right:after {
      content: " ";
      position: absolute;
      width: 0;
      height: 0;
      left: auto;
      right: -20px;
      top: 10px;
      bottom: auto;
      border: 12px solid;
      border-color: transparent transparent #d3d3d3 #d3d3d3;
    }
  }

  .right-side {
    flex-direction: row-reverse;
  }
}

.new-message {
  border: 1px solid #d8d7db;
  width: 90%;
  height: 60px;
  margin: 10px auto;
  outline: none;
  text-align: center;
  border-radius: 2px;
}

.new-message::placeholder {
  color: #d8d7db;
  opacity: 1;
}

.send-btn {
  width: 90%;
  height: 50px;
  color: #ffffff;
  background-color: #3d38c3;
  border: 1px solid #d8d7db;
  border-radius: 5px;
  margin: 0 auto 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;

  .send-icon {
    width: 18px;
    margin: 0 10px;
  }
}

.send-btn:hover {
  cursor: pointer;
}

.send-btn:hover .send-icon {
  animation: rotate 0.5s 1;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
