@import '../../../shared/buttons';

.settings {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  border-bottom: 1px solid #d8d7db;
  cursor: pointer;
}

.settings-icon {
  display: flex;
  align-items: center;
}

.settings-icon::before {
  content: '';
  width: 36px;
  height: 36px;
  background-image: url(/assets/icon-spritesheet.png);
  background-repeat: no-repeat;
  background-position: -338px -134px;
}

.dark {
  background-color: #423f3f;
  color: #ffffff;
  border: none;
}

.messages {
  overflow-y: auto;
  width: 90%;
  margin: 0 auto;
  max-height: 400px;

  .message {
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: flex-start;

    .person-img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .person {
      z-index: 2;
    }

    .person.left {
      margin: 0 30px 0 0;
    }

    .person.right {
      margin: 0 0 0 30px;
    }

    .message-bubble {
      position: relative;
      height: auto;
      background-color: black;
      color: white;
      border-radius: 5px;
      padding: 5px;
    }

    .message-bubble:not(.right) {
      z-index: 2;
      background-color: #d3d3d3;
      color: black;
    }

    .triangle.left:after {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      left: -20px;
      right: auto;
      top: 10px;
      bottom: auto;
      border: 12px solid;
      border-color: #d3d3d3 #d3d3d3 transparent transparent;
    }

    .triangle.right:after {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      left: auto;
      right: -20px;
      top: 10px;
      bottom: auto;
      border: 12px solid;
      border-color: transparent transparent black black;
    }
  }

  .right-side {
    flex-direction: row-reverse;
  }
}

.messages::after {
  content: '';
  background: linear-gradient(
    0deg,
    rgba(88, 27, 201, 1) 0%,
    rgba(108, 24, 153, 1) 45%,
    rgba(205, 19, 210, 1) 100%
  );
  position: absolute;
  left: 0;
  top: 51px;
  height: 65%;
  width: 92%;
  mix-blend-mode: screen;
  pointer-events: none;
}

.new-message {
  border: 1px solid #d8d7db;
  width: 90%;
  height: 60px;
  margin: 10px auto;
  outline: none;
  text-align: center;
  border-radius: 2px;
}

.new-message::placeholder {
  color: #d8d7db;
  opacity: 1;
}

.send-btn {
  width: 90%;
  height: 50px;
  color: #ffffff;
  background-color: $primary-button;
  border: 1px solid #d8d7db;
  border-radius: 5px;
  margin: 0 auto 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;

  .send-icon {
    width: 18px;
    margin: 0 10px;
  }
}

.send-btn:hover {
  cursor: pointer;
  background-color: $primary-button-on-hover;
}

.send-btn:hover .send-icon {
  animation: rotate 0.5s 1;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
