<article class="widget chat">
    <div class="settings">
        <p>Conversation: </p>
        <div class="settings-icon arrow-bottom"></div>
    </div>
    <div class="messages users">
        <div class="message">
            <figure class="person"><img class="person-img" src="">
            </figure>
            <div class="message-bubble triangle">
                <p></p>
            </div>
        </div>
    </div>
    <input type="text" placeholder="Type and press enter" class="new-message">
    <div class="send-btn"><img src="../../../assets/send.svg" class="send-icon"> Send</div>
</article>