.message {
  text-align: center;
  margin-top: 100px;

  .missing-page {
    width: 200px;
    height: 200px;
    margin-top: 10px;
  }

  .return-button {
    background-color: #3d38c3;
    color: white;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 13px 1px rgb(153, 153, 153);
  }
}
