<div class="spinner-wrapper" *ngIf="isLoading">
  <app-loading-spinner class="loading-spinner"></app-loading-spinner>
</div>

<div class="widget-form-container">
  <button id="back-button" (click)="navigateToHomepage()">
    &larr; Go back
  </button>
  <div id="widget-form" [formGroup]="widgetForm">
    <h2>{{ formType === FormType.Edit ? 'Edit widget' : 'Add new widget' }}</h2>
    <input
      type="text"
      placeholder="Title"
      class="field"
      id="title"
      formControlName="title"
      [ngClass]="{ invalid: !isFormControlValid('title') }"
    />
    <input
      type="number"
      placeholder="Column number"
      min="1"
      max="3"
      class="field"
      id="column-number"
      formControlName="column"
      [ngClass]="{ invalid: !isFormControlValid('column') }"
    />
    <select
      class="field"
      id="type"
      formControlName="type"
      [ngClass]="{ invalid: !isFormControlValid('type') }"
    >
      <option value="-1" disabled selected hidden>Widget type</option>
      <option *ngFor="let option of widgetTypeOptions" [value]="option">
        {{ WidgetType[option] }}</option
      >
    </select>
    <select
      class="field"
      id="header-type"
      formControlName="headerType"
      [ngClass]="{ invalid: !isFormControlValid('headerType') }"
    >
      <option value="-1" disabled selected hidden>Header type</option>
      <option *ngFor="let option of headerTypeOptions" [value]="option">
        {{ HeaderType[option] }}</option
      >
    </select>
    <textarea
      class="field"
      id="data"
      placeholder="Widget data in JSON format"
      required
      formControlName="data"
      [ngClass]="{ invalid: !isFormControlValid('data') }"
    ></textarea>
    <ng-container *ngIf="formType === FormType.Edit">
      <button
        class="field"
        id="save-widget"
        (click)="saveWidget()"
        [disabled]="!widgetForm.valid"
        [ngClass]="{ disabled: !widgetForm.valid }"
      >
        Edit
      </button>
      <button
        class="field"
        id="delete-widget"
        *ngIf="id"
        (click)="deleteWidget()"
      >
        Delete
      </button>
    </ng-container>
    <ng-container *ngIf="formType === FormType.Add">
      <button
        class="field"
        id="save-widget"
        (click)="saveWidget()"
        [disabled]="!widgetForm.valid"
        [ngClass]="{ disabled: !widgetForm.valid }"
      >
        Add
      </button>
    </ng-container>
  </div>
</div>
