<button id="back-button" (click)="navigateToHomepage()">&larr; Go back</button>
<div id="widget-form">
  <h2 *ngIf="formType === 'edit'">Edit widget</h2>
  <h2 *ngIf="formType === 'add'">Add new widget</h2>
  <input
    type="text"
    placeholder="Title"
    class="field"
    id="title"
    required
    [(ngModel)]="widget.title"
    name="title"
  />
  <input
    type="number"
    placeholder="Column number"
    min="1"
    max="3"
    class="field"
    id="column-number"
    required
    [(ngModel)]="widget.column"
    name="column"
  />
  <select
    class="field"
    id="type"
    required
    [(ngModel)]="widget.type"
    name="widgetType"
  >
    <option value="-1" disabled selected hidden>Widget type</option>
    <option
      *ngFor="let option of widgetTypeOptions; index as i"
      value="{{ i }}"
    >
      {{ option }}</option
    >
  </select>
  <select
    class="field"
    id="header-type"
    required
    [(ngModel)]="widget.headerType"
    name="headerType"
  >
    <option value="-1" disabled selected hidden>Header type</option>
    <option
      *ngFor="let option of headerTypeOptions; index as i"
      value="{{ i }}"
    >
      {{ option }}</option
    >
  </select>
  <select
    class="field"
    id="settings"
    required
    [(ngModel)]="widget.settings"
    name="settings"
  >
    <option value="-1" disabled selected hidden>Settings</option>
    <option *ngFor="let option of settingsOptions; index as i" value="{{ i }}">
      {{ option }}</option
    >
  </select>
  <textarea
    class="field"
    id="data"
    placeholder="Widget data in JSON format"
    required
    [(ngModel)]="dataAsString"
    name="data"
  ></textarea>
  <ng-container *ngIf="formType === 'edit'">
    <button class="field" id="save-widget" (click)="saveWidget()">
      Edit
    </button>
    <button
      class="field"
      id="delete-widget"
      *ngIf="id"
      (click)="deleteWidget()"
    >
      Delete
    </button>
  </ng-container>
  <ng-container *ngIf="formType === 'add'">
    <button class="field" id="save-widget" (click)="saveWidget()">
      Add
    </button>
  </ng-container>
</div>
