<nav id="navbar">
    <div id="navbar-dropdowns-container">
        <div class="navbar-dropdown navbar-issues arrow-bottom">Issues History</div>
        <div class="navbar-dropdown navbar-dashboards arrow-bottom">Dashboards</div>
        <div class="navbar-dropdown navbar-projects arrow-bottom">Projects</div>
    </div>
    <div id="navbar-search-profile-container">
        <input placeholder="Search.." id="navbar-search" />
        <div id="navbar-profile"></div>
        <div class="arrow-bottom"></div>
    </div>
</nav>