@import '../../scss/index';

#navbar {
  background-color: $white;
  border-bottom: 1px solid $grey-dark;
  height: $menu-height;
  top: 0;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - #{$sidenav-width});
  z-index: 3;
  animation: slidein 0.5s;

  @media screen and (max-width: $break-tablet) {
    display: none;
  }

  #navbar-dropdowns-container {
    display: flex;

    .navbar-dropdown {
      margin-left: 20px;
      display: flex;
      align-items: center;
    }

    .navbar-dropdown::before {
      content: '';
      width: 36px;
      height: 36px;
      background-image: url(/assets/icon-spritesheet.png);
      background-repeat: no-repeat;
    }

    .navbar-dashboards::before {
      background-position: -170px -168px;
    }

    .navbar-issues::before {
      background-position: -238px -168px;
    }

    .navbar-projects::before {
      background-position: -407px -271px;
    }
  }

  #navbar-search-profile-container {
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 10px;

    #navbar-search {
      border-radius: 20px;
      border: solid 1px $grey-light;
      height: 24px;
      text-indent: 10px;
      margin-right: 20px;
      outline: none;
    }

    #navbar-profile {
      height: 32px;
      width: 32px;
      border-radius: 50%;
      display: inline-block;
      background-image: url('https://media4.s-nbcnews.com/i/newscms/2019_28/2929131/190618-allan-smith-byline1860_e20f6bbeb1d9b2496dd6943f6a3da256.jpg');
      background-size: cover;
    }
  }
}

@keyframes slidein {
  from {
    transform: scaleX(0.5);
  }
  to {
    transform: scaleX(1);
  }
}
